<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Jura", sans-serif;
  color: #30cfd0;
  background: linear-gradient(
    to right,
    #30cfd0,
    #330867 50%,
    #330867 50%,
    #30cfd0
  );
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #30cfd0;
}
.nav-links {
  display: flex;
}

.logo {
  font-size: 32px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
  transition: background-color 1s ease;
}

.menu li:hover {
  background-color: #330867;
  border-radius: 5px;
}

.projectList {
  position: relative;
}

#div1 {
  background: linear-gradient(
    to right,
    #30cfd0,
    #330867 50%,
    #330867 50%,
    #30cfd0
  );
}

#skill-title {
  width: 100%;
  padding: 50px;
  text-align: center;
}

#skill-title h2,
.skills h3,
.skills p {
  color: #30cfd0;
  text-shadow: 2px 2px 2px rgba(26, 25, 25, 0.5);
}

.skills h3,
.skills p {
  margin-top: 20px;
}

.skills-wrap {
  display: inline;
}

.skills {
  width: 30%;
  margin: 5px 5px 20px;
  padding: 25px;
  height: auto;
  display: inline-block;
}

.skills img {
  width: 15%;
  height: auto;
}

section {
  padding: 40px 20px;
  text-align: center;
}

section h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

section img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.me {
  max-width: 20%;
  height: auto;
  border-radius: 10px;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Jura", sans-serif;
  color: #30cfd0;
  background: linear-gradient(
    to right,
    #30cfd0,
    #330867 50%,
    #330867 50%,
    #30cfd0
  );
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 32px;
}

#div1 {
  background: linear-gradient(
    to right,
    #30cfd0,
    #330867 50%,
    #330867 50%,
    #30cfd0
  );
}

#skill-title {
  width: 100%;
  padding: 50px;
  text-align: center;
}

#skill-title h1,
.skills h3,
.skills p {
  color: #30cfd0;
  text-shadow: 2px 2px 2px rgba(26, 25, 25, 0.5);
}

.skills h3,
.skills p {
  margin-top: 20px;
}

.skills-wrap {
  display: inline;
}

.skills {
  width: 30%;
  margin: 5px 5px 20px;
  padding: 25px;
  height: auto;
  display: inline-block;
}

.skills img {
  width: 15%;
  height: auto;
}

section {
  padding: 40px 20px;
  text-align: center;
}

section h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

section img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.me {
  max-width: 20%;
  height: auto;
  border-radius: 10px;
}
>>>>>>> 836afb2c51876195fed351b0bb6cccffcbd60ebf
